{% extends "base.html" %}
{% block title %}
  Lost and Found
{% endblock title %}
{% block css %}
<style>
  /* Form styling */
  #uploadForm {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  textarea {
    height: 100px;
  }

  button[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #3274d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #2859b0;
  }
</style>
{% endblock css %}


{% block body %}

<div class="box-container">
  <div class="small-container-img one">
    <img src="/static/images/lostandfound.jpg" alt="">
  </div>
  <div class="small-container-form">
    <div class="container" style="max-width: 400px; ">



<h3 class="foundheader">Report Found item here</h1>

<form  action="{{ url_for('lost_and_found') }}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="item_name">Item Name:</label>
    <input type="text" id="item_name" name="item_name" required>
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="Date">Date:</label>
    <input type="date" id="location" name="date" required>
  </div>
  <div class="form-group">
    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="image" accept="image/*" capture="environment" required>
  </div>
  <button type="submit">Submit</button>
</form>

<!-- Image preview -->
<img id="imgPreview" src="#" alt="Image Preview" style="max-width: 300px; display: none;">

<!-- Google Translate API Script -->

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
</div>
</div>
<div class="container">
  <h2 class="foundheader">Found Items</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Item Name</th>
              <th>Location</th>
              <th>Description</th>
              <th>Contact</th>
              <th>Image</th>
              <th>Update status</th>
              
          </tr>
      </thead>
      <tbody>
          {% for item in lost_items %}
          <tr class="lost-images">
              <td>{{ item.item_name }}</td>
              <td>{{ item.location }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.contact }}</td>
              <td><img src="data:image/jpeg;base64,{{ item.image_data }}" alt="Item Image" style="width: 100px; height: 100px;"></td>
              {% if user_id == item.user_id %}
              <td><form method="POST" action="/itemdelete">
                <input type="hidden" name="lost_id" value="{{ item.id }}">
                <button type="submit" class="btn btn-dark" style="width: 100px;">DELETE</button>
            </form>
            </td>
              {% endif %}
              
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<!-- Google Translate Widget -->
<div id="google_translate_element">

  <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>
</div>
{% endblock %}